@import url(font.css);
@import url(root.css);


.aboutInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50rem;
    padding-bottom: 3rem;
    visibility: hidden;
}

.aboutMeContainer {
    display: flex;
    align-items: flex-start;
    margin-left: 5rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
    width: 50%;
    height: 100%;
}

.nombre{
    font-size: 96px;
    font-weight: 500;
    color: var(--plum);
    font-family: "Great Mango";
    line-height: 1;
}


.ahora {
    font-size: 28px;
    font-weight: 500;
    color: var(--rosa);
    font-family: "Great Mango";
    margin-top: -1rem;
}

.shortInfo {
    margin-top: 0.2rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    font-weight: 600; 
}


.info {
    font-family: "Montserrat Alternates", sans-serif;
    width: 35rem;
    height: fit-content;
}


.imagenes{
    align-self: center;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    gap: 3rem;
}

.yo{
    width: 25rem;
    z-index: 3;
    height: 25rem;
    border-radius: 30.25rem;
    background:lightgray 50% / cover no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(28, 11, 24, 0.25));
    border-radius: 35.375rem;
    box-shadow: 6px 6px 10px 3px rgba(247, 244, 244, 0.382);
}

.ellipses{
    width: 100%;
    height: 100%;
    position: relative;
}

.ellipse1{
    left: 18rem;
    top: 15rem; 
    position: absolute;
    z-index: 2;
    animation: waveL 5s linear infinite;
    animation-delay: 1.5;
    background: transparent;
}

.ellipse2{
    left: 7rem;
    top: 14rem; 
    position: absolute;
    z-index: 1;
    animation: waveL 5s linear infinite;
    animation-delay: 1s;
    background: transparent;
}

.ellipse3{
    right: -3rem;
    top: -4rem;  
    position: absolute;
    animation: waveD 5s linear infinite;
    animation-delay: 1s;
    background: transparent;
}

.ellipse4{
    right: 20rem;
    top: 4rem; 
    position: absolute;
    z-index: 2;
    animation: waveD 5s linear infinite;
    animation-delay: 0.5;
    background: transparent;
}

.ellipse5{
    right: 8rem;
    top: -2rem; 
    position: absolute;
    animation: waveD 5s linear infinite;
    animation-delay: 1.5s;
    background: transparent;
}

.ellipse6{
    left: -4rem;
    top:  12rem;  
    position: absolute;
    animation: waveL 5s linear infinite;
    animation-delay: 0.5s;
    background: transparent;
}


@keyframes waveD {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(30px) translateY(-40px);    
    }
    50% {
        transform: translateX(40px);    
    }
    75% {
        transform: translateX(30px) translateY(-40px);    
    }
    100% {
        transform: translateX(0);    
    }
}

@keyframes waveL {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(40px) translateY(30px); 
    }
    50% {
        transform: translateX(60px);
    }
    75% {
        transform: translateX(40px) translateY(30px); 
    }
    100% {
        transform: translateX(0);    
    }
}


.tecnologias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.logos{
    width: 30px;
    height: 30px;
}


.animation{
    visibility: visible;
    animation-duration: 2s; 
    animation-name: fadeIn; 
    animation-range-start: cover;
    animation-range-end: 50%;
    animation-timing-function: ease-out; 
}

@keyframes fadeIn {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

.animationRight{
    visibility: visible;
    animation-duration: 2s; 
    animation-name: fadeInRight; 
    animation-range-start: cover;
    animation-range-end: 50%;
    animation-timing-function: ease-out; 
}


@keyframes fadeInRight {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(0); 
    }
} 




@media (max-width: 768px){

    .aboutInfo{
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .info{
        height: fit-content;
    }

    .imagenes{
        align-self: center;
    }
}


@media (max-width: 431px){

    .info{
        font-size: 0.8rem;
        width: fit-content;
    }

    .aboutMe {
        font-size: 44px;
        letter-spacing: 3px;
    }

    .imagenes{
        width: 60%;
    }
}

